:root {
	/*kleuren*/
	--kleur-snow: rgb(255, 250, 250);
	--kleur-whitesmoke: rgb(245,245,245);
	--kleur-steelblue: rgb(70,130,180);
	--kleur-dodgerblue: rgb(30,144,255);
	--kleur-menu-highlight: rgba(105, 105, 105, 0.9);
	--kleur-schaduw: rgba(0, 0, 0, 0.2);
	--kleur-gainsboro: rgb(220,220,220);
	--kleur-lichtzwart: hsl(0, 0%, 15%);
	--kleur-lichtgrijs: rgb(112, 112, 110);

	/*Decoratiebeelden*/
	--logo-horns-min640: url(../images/logo/horns_426x640.png);
    --section-background: url(../images/space-invader.png);
	--banner-home-min320: url(../images/strats_640x425.jpg);
	--banner-home-min1280: url(../images/strats_1280x851.jpg);
	--banner-home-min1920: url(../images/strats_1920x1276.jpg);
	--banner-hollowbody-min640: url(../images/hollowbody_640x426.jpg);
	--banner-hollowbody-min1280: url(../images/hollowbody_1280x853.jpg);
	--banner-hollowbody-2-min640: url(../images/hollowbody_2_640x426.jpg);
	--banner-hollowbody-2-min1280: url(../images/hollowbody_2_1280x853.jpg);
	--banner-semihollow-min640: url(../images/semihollow_640x426.jpg);
	--banner-semihollow-min1280: url(../images/semihollow_1280x853.jpg);
	--banner-semihollow-2-min640: url(../images/ibanez_640x426.jpg);
	--banner-semihollow-2-min1280: url(../images/ibanez_1280x853.jpg);
	--banner-solidbody-min640: url(../images/strat_640x396.jpg);
	--banner-solidbody-min1280: url(../images/strat_1280x792.jpg);
	--banner-solidbody-2-min640: url(../images/lesspaul_640x437.jpg);
	--banner-solidbody-2-min1280: url(../images/lesspaul_1280x874.jpg);

	/*Footer*/
	--footer-background: url(../images/hendrix_640x529.png);
	--footer-icon-facebook: url(../images/icons/facebook_640x640.png);
	--footer-icon-linkedin: url(../images/icons/linkedin_640x640.png);
	--footer-icon-youtube: url(../images/icons/youtube_640x640.png);

}
html, body {
	scroll-behavior: smooth;
	scroll-padding-top: 5em;
	background-color: black;
}
h2, h3, button {
	font-family: 'Orbitron', sans-serif;
}
p, form {
	font-family: 'Roboto', sans-serif;
}

main {
	background-color: var(--kleur-whitesmoke);
	display: flow-root;
}
main a {
	text-decoration: none;
	color: var( --kleur-steelblue );
	transition: all ease-in-out 0.5s;
}
main a:hover {
	text-decoration: none;
	color: var( --kleur-dodgerblue );
}
.banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 25% center;
}
.banner-home {
	height: calc(100vh - 5em);
	background-image: var( --banner-home-min1280 );
	margin-bottom: 1.5em;
}
.introductie--container {
	display: flex;
	flex-flow: column;
	background-color: var(--kleur-whitesmoke);
	padding: 0 .7em 0 .7em;
	margin-bottom: 1em;
}
.introductie--container article h2 {
	font-family: 'Orbitron', sans-serif;
	font-size: 1.3em;
	margin: .5em 0 .3em 0;
}
.introductie--container article h3 {
	font-family: 'Orbitron', sans-serif;
	font-size: 1em;
	margin: .5em 0 .3em 0;
}
.introductie--container article {
    margin-bottom: 2em;
}
.introductie--container article p {
	font-family: 'Roboto' , sans-serif;
	margin: .3em 0 .4em 0;
	text-align: justify;
}
.section--container {
	display: flow-root;
	padding: 0 .7em 0 .7em;
	margin-bottom: 1em;
    background-image: var(--section-background);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
.section__header {
	padding: 1em 0 .3em 0;
	border-top: 2px solid var(--kleur-lichtgrijs);
    text-align: center;
}
.section__header h2 {
	font-family: 'Orbitron', sans-serif;
	font-size: 1.3em;
	margin: 0;
}
.fotovideo--container {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
    justify-items: center;
    padding-bottom: 4em;
    padding-top: 2em;
    box-sizing: border-box;
}
.media {
	height: 13em;
	width: 20em;
    border: 15px solid var(--kleur-whitesmoke);
    box-shadow: 0 8px 16px 0 var(--kleur-schaduw);
	margin: 0 auto .5em auto;
    box-sizing: border-box;
}
/*}*/
.video-1 {
	background-color: black;
}
/*fotokaarten*/
.fotokaart--container {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
    justify-items: center;
	padding: 2em 0 4em 0;
}
.fotokaart {
	height: 22em;
    width: 19em;
	border: 1px solid var(--kleur-whitesmoke);
	padding: 1em;
	box-shadow: 0 4px 8px 0 var(--kleur-schaduw);
	background-color: var(--kleur-snow);
    box-sizing: border-box;
}
.fotokaart__foto {
	height: calc(19em * 0.65);
}
.fotokaart__foto img {
	object-fit: cover;
	height: inherit;
	width: 100%;
}
.fotokaart__ondertitel {
	height: auto;
	padding: .5em 0 0 0;
}
.fotokaart__ondertitel h3 {
	font-family: 'Orbitron', sans-serif;
	font-size: 1em;
	margin: 0 0 .3em 0;
}
.fotokaart__ondertitel p {
	font-family: 'Roboto', sans-serif;
	font-size: .85em;
	margin: .3em 0 .4em 0;
	text-align: justify;
}
/*footer*/
.footer--container {
	display: flex;
	flex-wrap: wrap;
	height: 12em;
	background-color: var(--kleur-snow);
	border-top: 2px solid var(--kleur-lichtgrijs);

}
.footer__bericht {
	flex: 2 1 0;
	padding: 0 .7em 0 .7em;
	display: flex;
	flex-flow: column;
}
.footer__bericht h2 {
	font-family: 'Orbitron', sans-serif;
	font-size: 1.3em;
	margin: .5em 0 .3em 0;
}
.footer__bericht p {
	font-family: 'Roboto', sans-serif;
	font-size: .85em;
	margin: .3em 0 .3em 0;
	text-align: justify;
}
.footer__tekst {
	flex: 2 1 0;
	max-width: 19em;
}
.footer__icons {
	display: flex;
	flex-wrap: wrap;
	max-width: 19em;
	flex: 1 1 0;
	padding-bottom: .3em;
}
.footer__icons h3 {
	font-family: 'Orbitron', sans-serif;
	display: block;
	font-size: .8em;
	margin: 0 0 0 0;
	flex: 2 1 0;
	line-height: 3;
}
.footer__icons a {
	display: block;
	flex: 1 1 0;
	background-size: cover;
	background-position: center;
}
.footer__facebook {
	background-image: var(--footer-icon-facebook);
}
.footer__linkedin {
	background-image: var(--footer-icon-linkedin);
}
.footer__youtube {
	background-image: var(--footer-icon-youtube);
}
.footer__beeld {
	flex: 1 1 0;
	background-image: var( --footer-background );
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center left;
	margin-left: 1.5em;
}

/*///////////////////////////////////////////////////////////
////////////////// 1024px scherm en groter ////////////////*/
@media screen 
	and (min-width: 1024px) {
	.banner-home {
		background-image: var( --banner-home-min1920 );
		background-position: center bottom;
	}
	.introductie--container, .media--container {
		max-width: 80%;
		margin: auto;
	}
	.introductie--container {
		flex-flow: row;
		padding-bottom: 3em;
	}
	.introductie__welkom {
		margin-right: 1em;
	}
	.introductie__welkom, .introductie__gitaargeschiedenis {
		flex: 1 1 50%;
	}
	.footer--container {
		padding: 0 10% 0 10%;
		height: 10em;
	}
}
/* Kleinere schermen */
@media screen and  (max-width: 800px) {
    .section--container {
        min-height: calc(100vh - 5em);
    }
    .fotovideo--container {
        min-height: calc(100vh - 5em);
        align-content: space-between;
    }
}