
.header--container {
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 9999;
}
.header--home {
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.header__logo {
    height: 3em;
    width: 13em;
    margin: auto;
    border: 1px solid black;
    background-color: black;
    background-image: var( --logo-horns-min640 ), var( --logo-horns-min640 );
    background-position: 5% 0, 95% 0;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.header__logo h1 {
    color: white;
    font-size: 2em;
    margin: .2em 0 .2em 0;
}
.header__logo a {
    text-decoration: none;
}
.mobiel--nav {
    display: none;
    font-family: 'Orbitron', sans-serif;
}
/* Hide pc nav and show mobile nav */
@media screen
and (max-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {
    .pc--nav {
        display: none;
    }
    .mobiel--nav {
        display: block;
        position: sticky;
        top: 0;
        z-index: 9999;
    }
}
.header__nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.header__nav > ul {
    height: 2em;
    background-color: var( --kleur-snow );
}
.header__nav li {
    flex: 1 0 18%;
    display: block;
    position: relative;
    transition: all ease-in-out 0.5s;
}
#typenMenuLijst {
    min-width: 112px;
}
.header__nav ul li ul {
    display: none;
    background-color: var( --kleur-snow );
}
.header__nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: .9em;
    color: black;
    padding: .55em 5px .55em 5px;
    background-color: var( --kleur-snow );
}
.active-page > a {
    background-color: var(--kleur-gainsboro);
}
.header__nav a:hover {
    background-color: var( --kleur-menu-highlight );
    color: white;
    transition: all ease-in-out 0.5s;
}
.header__nav ul li:hover ul {
    display: flex;
    flex-flow: column;
}

/*Met een raakscherm doen :hover en :active het niet zo goed.
Hierdoor heb ik de dropdown menu uitgeschakeld op mobiel.*/
@media screen
and (min-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
    /*gitaar typen menu lijst verbergen en vervangen met 3 knopjes*/
    .header__nav li {
        flex: 1 0 24%;
    }
    /*Meer scroll padding i.v.m. extra menu lijn*/
    html, body {
        scroll-padding-top: 5em;
    }
}
@media screen
and (min-width: 1024px)
and (-webkit-max-device-pixel-ratio: 1) {
    html, body {
        scroll-padding-top: 7em;
    }
    .header--home {
        display: flex;
        flex-flow: row wrap;
        max-width: 80%;
        margin: auto;
        padding: 1em 0 2em 0;
        justify-content: space-between;
    }
    .header__logo {
        flex: 0 0 13em;
        margin: 0;
    }
    .header__nav {
        flex: 0 0 50%;
        align-self: center;
    }
    #typenMenuLijst {
        min-width: 112px;
    }
}
/*////////////////////////////////////////////////*/
/*///////////Laptop/tablet menu//////////////////////////*/
/* ----------- Retina Screens ----------- */
@media screen
and (min-width: 1024px)
and (max-device-width: 1600px)
and (-webkit-max-device-pixel-ratio: 2) {
    html, body {
        scroll-padding-top: 4.5em;
    }
    .header--home {
        display: flex;
        flex-flow: row wrap;
        max-width: 80%;
        margin: auto;
        padding: 0 0 0 0;
        justify-content: space-between;
    }
    .header__logo {
        flex: 0 0 13em;
        margin: 0;
    }
    .header__nav {
        flex: 0 0 50%;
        align-self: center;
    }
    #typenMenuLijst {
        min-width: 112px;
    }
    .banner-home {
        padding-top: 2em;
        background-image: var( --banner-home-min1280 );
        background-position: center bottom;
    }
}
/*//////////////eind laptop/tablet menu///////////////////*/
/*/////////////////////////////////////////////////*
