/*@font-face {
    font-family: StarTrekFont;
    src: url("../font/Roddenberry.ttf");
}*/

html, body {
	margin: 0;
    padding: 0;
    /*font-family: "StarTrekFont","Comis Sans MS", cursive, sans-serif;*/
}

.clear {
	clear: both;
}

.container {
	text-align: center;
}

.container.intro {
	background-image: url("../images/introImage.jpg");
	height: 100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.introMessage {
	position: absolute;
	top: 40vh;
	width: 100%;
	color: white;
}

#introMessage-hi {
    font-size: 3.5vw;
    font-style: italic;
}

#introMessage-myName {
    font-size: 9vw;
}

.container.about {
	background-color: #eee;
	height: 70%;
	text-align: center;
}

.container.projects {
	background-color: #fff;
	height: 100%;
}

.container.contact {
	background-color: peru;
	height: 40%;
}