/*@font-face {
    font-family: StarTrekFont;
    src: url("../font/Roddenberry.ttf");
}*/

/*html, body {
	margin: 0;
    padding: 0;
    font-family: "StarTrekFont","Comis Sans MS", cursive, sans-serif;
}*/

.clear {
	clear: both;
}

/*Text is always centerd unless 
told otherwise.*/
.container-fluid {
	/*text-align: center;*/
}

.container-fluid.intro {
	background-image: url("../images/introImage.jpg");
	height: 100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.introMessage {
	position: absolute;
	top: 40vh;
	width: 100%;
	color: white;
}

#introMessage-hi {
    font-size: 3.5vw;
    font-style: italic;
}

#introMessage-myName {
    font-size: 9vw;
    line-height: 1;
}

.container-fluid.about {
	background-color: #eee;
}

/*#about-header {
	font-size: 3vw;
}

#about-body {
	font-size: 2vw;
}*/

.container-fluid.projects {
	background-color: #fff;
	height: 100%;
}

.container-fluid.contact {
	background-color: peru;
	height: 40%;
}
.projects-body {
	background-color: grey;
}
.site--header {
	background-color: #FF7500;
	border: 1px solid grey;
	z-index: -1;
}
.site--header nav {
	background-color: orange;
	border: 1px solid orange;
}
.site--header h1 {
	margin: .2em .4em .2em .3em;
}
.site--header h2 {
	margin: .1em .4em .1em .4em;
}
.site--header ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.site--header a {
	display: block;
	padding: .5em;
	font-size: 1.2em;
	font-family: sans-serif;
	font-weight: 700;
	color: rgb(50,100,150);
	text-shadow: 0 1px 1px rgba(255,255,255,.8);
	text-decoration: none;
	transition: all .5s ease-in-out .05s;
}
.site--header a:hover {
	background-color: rgb(50,100,150);
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0,.8);
}
.rit--container {
	background-color: lightgrey;
}
:root {
	/*kleuren*/
	--kleur-snow: rgb(255, 250, 250);
	--kleur-lichtzwart: hsl(0, 0%, 15%);
	--kleur-lichtgrijs: rgb(112, 112, 110);
	--kleur-schaduw: rgba(0, 0, 0, 0.49);
	--kleur-menu-highlight: rgba(105, 105, 105, 0.9);
	--kleur-doorzichtig-lichtgrijs: rgba(252, 252, 250, 0.6);
	--kleur-doorzichtig-lichtgrijs-1: rgba(252, 252, 250, 0.5);
	/*foto's*/
	--logo--horns-
}
.header__logo {
	height: 3em;
	background-color: lightgreen;

}
.header__nav ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 10;
}
.header__nav > ul {
	height: 2em;
}
.header__nav li {
	flex: 1 1 33%;
}
.header__nav ul ul {
	display: none;
}
.header__nav a {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: .5em 0 .5em 0;
	background-color: var( --kleur-snow );

}
.header__nav a:hover {
	background-color: var( --kleur-menu-highlight );
	color: white;
	transition: all ease-in-out 0.5s;
}
.header__nav li:hover ul {
	display: flex;
	flex-flow: column;
}