<!DOCTYPE html>
<html lang="nl">
<head>
	<title>Hollow Body</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/contact-page-style.css">
    <link rel="stylesheet" type="text/css" href="../css/gitaar-pages-style.css">
    <link rel="stylesheet" type="text/css" href="../css/nav-style.css">
	<meta name="description" content="eindopdracht HTML5 CSS3">
	<meta name="keywords" content="eindopdracht,HTML5,CSS3">
</head>
<body>
	<header class="header--container">
		<div class="header--home">
			<div id="header__logo" class="header__logo">
				<a href="../index.html"><h1>Gitaren</h1></a>
			</div>
			<nav class="header__nav pc--nav">
				<ul class="header__navitems">
					<li><a href="../index.html">Home</a></li>
					<li><a href="../index.html#intro">Intro</a></li>
					<li id="typenMenuLijst" class="active-page"><a href="hollow_body.html">Gitaar Typen</a>
						<ul>
							<li><a href="solid_body.html">Solid Body</a></li>
							<li><a href="semi_hollow.html">Semi Hollow</a></li>
							<li class="active-page"><a href="hollow_body.html">Hollow Body</a></li>
						</ul>
					</li>
					<li><a href="../index.html#media">Media</a></li>
					<li><a href="contact.html">Contact</a></li>				
				</ul>
			</nav>
		</div>	
	</header>
	<nav class="header__nav mobiel--nav">
		<ul class="header__navitems">
			<li><a href="../index.html">Home</a></li>
			<li><a href="../index.html#intro">Intro</a></li>
			<li><a href="../index.html#media">Media</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li id="typeSolid"><a href="solid_body.html">Solid Body</a></li>
			<li id="typeSemi"><a href="semi_hollow.html">Semi Hollow</a></li>
			<li id="typeHollow" class="active-page"><a href="hollow_body.html">Hollow Body</a></li>				
		</ul>
	</nav>
	<main>
		<div id="top" class="banner banner--gitaarpaginas banner--hollowbody"></div>
		<article class="geschiedenis geschiedenis--hollowbody">
			<header>
				<h2>Hollow Body Gitaren</h2>
				<p>De voorvader van de elektrische Gitaar.</p>
			</header>
			<p>
				De voorganger van de gitaar was de kithara (gitara), een instrument dat gebruikt werd bij de oude Grieken. Hoe dat instrument in Spanje is geraakt is niet duidelijk. Mogelijk is een luit uit Mesopotamië naar dit land gebracht door de Moren, of een Romeinse citer, waar men dan een hals zou op hebben aangebracht. Het was geen gitaar zoals we ze nu kennen, maar ze had er wel zeer veel van weg. Het succes van zowel de Spaanse Vihuela da mano, zeskorig (zes dubbele snaren), als de Italiaanse renaissancegitaar, vierkorig (vier dubbele snaren), heeft bijgedragen tot de ontwikkeling van de guitarra española. Deze rijkelijk versierde en met vijf dubbele snaren bespannen barokgitaar is ontstaan in Spanje op het einde van de zestiende eeuw.
			</p>
			<p>
				Rond 1780 werd er nog een zesde paar snaren toegevoegd aan de guitarra española. De meeste zeskorige gitaren in Spanje werden gebouwd in Cádiz. Bijna gelijktijdig werden de zes koren ontdubbeld, eerst in Frankrijk en Italië, Spanje volgde pas veel later. Ook de snaarspanning werd verhoogd. Dit werd dan de zessnarige “romantische gitaar” genoemd, met haar typische snorvormige kam.
			</p>
			<p>
				In de negentiende eeuw werden er mechanische stemschroeven aan toegevoegd, en rond 1884 bouwde Antonio de Torres Jurado de eerste gitaar die qua vorm en bouwprincipes maar weinig meer verschilde van de 'klassieke gitaar' zoals wij die vandaag kennen.
			</p>
			<h3>Beroemde Hollow-Body Gitaar gebruikers.</h3>
			<div class="fotokaart--container fotokaart--gitaarpaginas--container">
				<div class="fotokaart">
					<a href="https://nl.wikipedia.org/wiki/Elvis_Presley" target="blank">
						<picture class="fotokaart__foto">
							<source media="(min-width: 1024px)" srcset="../images/Elvis_Presley_1280x960.jpg">
							<img src="../images/Elvis_Presley_574x324.jpg" alt="Foto van Elvis Presley.">
						</picture>
					</a>
					<div class="fotokaart__ondertitel">
						<h3>Elvis Presley</h3>
						<p>Elvis is een van de meest gevierde en invloedrijkste muzikanten van de twintigste eeuw. Hij is bekend voor nummers zoals <a href="https://www.youtube.com/watch?v=OP6qK589_Bo">"Heartbreak hotel"</a> en <a href="https://www.youtube.com/watch?v=YZe_8u-rGWE">"That's all right"</a>.</p>
					</div>
				</div>
				<div class="fotokaart">
					<a href="https://nl.wikipedia.org/wiki/Johnny_Cash" target="blank">
						<picture class="fotokaart__foto">
							<source media="(min-width: 1024px)" srcset="../images/Johnny_Cash_1200x630.jpg">
							<img src="../images/Johnny_Cash_895x503.jpg" alt="Foto van Johnny Cash.">
						</picture>
					</a>
					<div class="fotokaart__ondertitel">
						<h3>Johnny Cash</h3>
						<p>Cash was een van de invloedrijkste zangers, zowel binnen als buiten het country-genre. <a href="https://www.youtube.com/watch?v=8AHCfZTRGiI">"Hurt"</a> en <a href="https://www.youtube.com/watch?v=jiMXK9eDrMY">"The man comes around"</a> zijn sommige van zijn bekendste nummers.</p>
					</div>
				</div>
				<div class="fotokaart">
					<a href="https://nl.wikipedia.org/wiki/Ed_Sheeran" target="blank">
						<picture class="fotokaart__foto">
							<source media="(min-width: 1024px)" srcset="../images/Ed_Sheeran_1600x960.jpg">
							<img src="../images/Ed_Sheeran_654x478.jpg" alt="Foto van Ed Sheeran.">
						</picture>
					</a>
					<div class="fotokaart__ondertitel">
						<h3>Ed Sheeran</h3>
						<p>Sheeran brak door in juni 2011 met zijn debuutsingle <a href="https://nl.wikipedia.org/wiki/The_A_Team_(lied)">"The A team"</a> en scoorde daarna ook grote hits met onder andere <a href="https://www.youtube.com/watch?v=ymjNGjuBCTo&list=TLPQMTIwNTIwMjDcPSgiAafe6A&index=1">"I Don't Care (2019)"</a>.</p>
					</div>
				</div>
			</div>
		</article>		
	</main>
	<footer class="footer--container">
		<div class="footer__bericht">
			<div class="footer__tekst">
				<h2>Bedankt voor uw bezoek!!</h2>
				<p>
					Bekijk graag ook de andere paginas. Er gaat nog veel meer Gitaar info bij komen. Mijn facebook pagina is nog niet beschikbaar.
				</p>
			</div>
			<div class="footer__icons">
				<h3>Volg mij op:</h3>
				<a class="footer__facebook" href="https://www.facebook.com/" target="blank"></a>
				<a class="footer__linkedin" href="https://www.linkedin.com/in/jos%C3%A9-luis-rasmussen-garcia/" target="blank"></a>
				<a class="footer__youtube" href="https://www.youtube.com/user/darthporkius/" target="blank"></a>
			</div>
		</div>
		<div class="footer__beeld"></div>
	</footer>
</body>
</html>