<!DOCTYPE html>
<html lang="nl">
<head>
	<title>Solid Body</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<meta name="description" content="eindopdracht HTML5 CSS3">
	<meta name="keywords" content="eindopdracht,HTML5,CSS3">
</head>
<body>
	<header class="header--container">
		<div class="header--home">
			<div id="header__logo" class="header__logo">
				<a href="../index.html"><h1>Gitaren</h1></a>
			</div>
			<nav class="header__nav pc--nav">
				<ul class="header__navitems">
					<li><a href="../index.html">Home</a></li>
					<li><a href="../index.html#intro">Intro</a></li>
					<li id="typenMenuLijst" class="active-page"><a href="solid_body.html">Gitaar Typen</a>
						<ul>
							<li class="active-page"><a href="solid_body.html">Solid Body</a></li>
							<li><a href="semi_hollow.html">Semi Hollow</a></li>
							<li><a href="hollow_body.html">Hollow Body</a></li>
						</ul>
					</li>
					<li><a href="../index.html#media">Media</a></li>
					<li><a href="contact.html">Contact</a></li>				
				</ul>
			</nav>
		</div>	
	</header>
	<nav class="header__nav mobiel--nav">
		<ul class="header__navitems">
			<li><a href="../index.html">Home</a></li>
			<li><a href="../index.html#intro">Intro</a></li>
			<li><a href="../index.html#media">Media</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li id="typeSolid" class="active-page"><a href="solid_body.html">Solid Body</a></li>
			<li id="typeSemi"><a href="semi_hollow.html">Semi Hollow</a></li>
			<li id="typeHollow"><a href="hollow_body.html">Hollow Body</a></li>				
		</ul>
	</nav>
	<main>
		<div id="top" class="banner banner--gitaarpaginas banner--solidbody"></div>
		<article class="geschiedenis geschiedenis--solidbody">
			<header>
				<h2>Solid Body Gitaren</h2>
				<p>Rock Rock Rock!!!....en veel meer.</p>
			</header>
			<p>
				Een solid body elektrische gitaar is een gitaar die doorgaans geen klankkast heeft maar haar geluid uiteindelijk produceert door een luidspreker. 
			</p>
			<p>
				De body is massief of uit gelamineerde delen opgebouwd en klankkastresonantie is totaal afwezig. Van rondzingen (feedback) heeft de solidbodygitaar minder last zodat ze beter geschikt is voor hoge geluidsniveaus. Deze gitaar levert meer sustain. Verschillen in constructie zoals een geschroefde of ingelijmde hals, het type brug, gebruikte houtsoorten, lengte van de snaren, en type elementen hebben allemaal invloed op de klank en sustain. De bekendste modellen zijn: <a href="">Fender Telecaster</a>, <a href="">Fender Stratocaster</a>, en <a href="">Gibson Les Paul</a>.
			</p>
			<p>
				De trillingen van de stalen snaren worden opgepikt door elektromagnetische opnemers (elementen) die bestaan uit magneten en spoelen. De verstoringen van het magneetveld worden omgezet in elektrische stroom die via een instrumentkabel van de gitaar naar een versterker wordt geleid. Deze versterker zet het elektrische signaal uiteindelijk met een luidspreker om in hoorbaar geluid.
			</p>
			<h3>Beroemde Solid Body Gitaar gebruikers.</h3>
			<div class="fotokaart--container fotokaart--gitaarpaginas--container">
				<div class="fotokaart">
					<a href="https://nl.wikipedia.org/wiki/Jimi_Hendrix" target="blank">
						<picture class="fotokaart__foto">
							<source media="(min-width: 1024px)" srcset="../images/hendrix_1024x640.jpg">
							<img src="../images/hendrix_720x360.jpg" alt="Foto van Jimi Hendrix.">
						</picture>
					</a>
					<div class="fotokaart__ondertitel">
						<h3>Jimi Hendrix</h3>
						<p>Hendrix revolutioneerde gitaarspelen door het gebruik van nieuwe akkoorden, feedback en vernieuwende opnametechnieken. <a href="https://www.youtube.com/watch?v=xPx-cL2t9TE">"Voodoo child"</a> en <a href="https://www.youtube.com/watch?v=cJunCsrhJjg">"Purlpe Haze"</a> zijn sommige van zijn bekendste nummers.</p>
					</div>
				</div>
				<div class="fotokaart">
					<a href="https://nl.wikipedia.org/wiki/Slash_(artiest)" target="blank">
						<picture class="fotokaart__foto">
							<source media="(min-width: 1024px)" srcset="../images/slash_1200x800.jpg">
							<img src="../images/slash_763x431.jpg" alt="Foto van Slash.">
						</picture>
					</a>
					<div class="fotokaart__ondertitel">
						<h3>Slash</h3>
						<p>Slash is de leadgitarist van <a href="https://nl.wikipedia.org/wiki/Guns_N%27_Roses">"Guns N' Roses"</a>, waarin hij speelde van 1985 tot 1996 en waarin hij in 2016 terugkeerde. Hij is meest bekend voor zijn solo's in <a href="https://www.youtube.com/watch?v=1w7OgIMMRc4">"Sweet Child 'O Mine"</a> en <a href="https://www.youtube.com/watch?v=8SbUC-UaAxE">"November Rain"</a>.</p>
					</div>
				</div>
				<div class="fotokaart">
					<a href="https://nl.wikipedia.org/wiki/Kurt_Cobain" target="blank">
						<picture class="fotokaart__foto">
							<source media="(min-width: 1024px)" srcset="../images/kurt_1280x720.jpg">
							<img src="../images/kurt_763x506.jpg" alt="Foto van Kurt Cobain.">
						</picture>
					</a>
					<div class="fotokaart__ondertitel">
						<h3>Kurt Cobain</h3>
						<p>Kurt was de leadzanger en gitarist <a href="https://nl.wikipedia.org/wiki/Nirvana_(Amerikaanse_band)">"Nirvana"</a>. Hij wordt gezien als "de stem van Generatie X". <a href="https://www.youtube.com/watch?v=hTWKbfoikeg">"Smells like teen Spirit"</a> en <a href="https://www.youtube.com/watch?v=n6P0SitRwy8">"Heart Shapped Box"</a> zijn sommige van zijn bekendste nummers. </p>
					</div>
				</div>
			</div>
		</article>
	</main>
	<footer class="footer--container">
		<div class="footer__bericht">
			<div class="footer__tekst">
				<h2>Bedankt voor uw bezoek!!</h2>
				<p>
					Bekijk graag ook de andere paginas. Er gaat nog veel meer Gitaar info bij komen. Mijn facebook pagina is nog niet beschikbaar.
				</p>
			</div>
			<div class="footer__icons">
				<h3>Volg mij op:</h3>
				<a class="footer__facebook" href="https://www.facebook.com/" target="blank"></a>
				<a class="footer__linkedin" href="https://www.linkedin.com/in/jos%C3%A9-luis-rasmussen-garcia/" target="blank"></a>
				<a class="footer__youtube" href="https://www.youtube.com/user/darthporkius/" target="blank"></a>
			</div>
		</div>
		<div class="footer__beeld"></div>
	</footer>
</body>
</html>